<link rel="stylesheet" href="/style/index.css" type="text/css" />
<script src="/js/jquery183.js"></script>
<script src="/js/date.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<body>
	<h4>Result Lojas Off</hr> <br />
	Contador - <p id="counttypes"></p>
	<div id="types">
		<!--
		<div id="doodads_type"></div>
		<div id="gizmos_type"></div>
		<div id="widgets_type"></div>
		-->
	</div>
</body>